body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Courier Prime", serif;
  font-style: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}

.div {
  flex: 1;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}
.first {
  background-color: #000000;
  padding: 1%;
  align-self: center;
  width: 100%;
  flex-shrink: 0;
}
.second {
  background-color: #f4dfc8;
  align-self: center;
  padding-bottom: 5%;
  width: 100%;
  flex-shrink: 0;
}

.third {
  background-color: #f4eae0;
  align-self: center;
  width: 100%;
  flex-shrink: 0;
}
.fourth {
  background-color: #faf6f0;
  width: 100%;
  flex-shrink: 0;
}
.container-mdl1 {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 1rem;
  margin: 100px 200px 200px 200px;
}
.item1 {
  grid-area: 1/1/2/2;
}
.item2 {
  grid-area: 1/2/2/3;
}
.item3 {
  grid-area: 2/1/3/2;
}
.item4 {
  grid-area: 2/2/3/3;
}
.container-mdl1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 20px 20px 50px -25px black;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.hover {
  position: relative;
}
.hover:hover img {
  opacity: 0.3;
}

.hover:hover .clickable {
  opacity: 1;
}

.clickable {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #241f1f;
  color: whitesmoke;
  font-size: 20px;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 16px 32px;
  font-weight: 400;
}
h2 > a:link {
  color: #393e46;
  /* font-weight: 500; */
  text-decoration: underline;
  letter-spacing: 0.5rem;
}

h2 > a:visited {
  text-decoration: none;
  color: #393e46;
  /* font-weight: 500; */
  letter-spacing: 0.5rem;
}

h2 > a:hover {
  text-decoration: underline;
  color: rgba(245, 245, 245, 0.842);
}

a:link {
  color: snow;
  /* font-weight: 600; */
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
  color: whitesmoke;
}

a:active {
  text-decoration: underline;
  color: whitesmoke;
}

.eagle {
  margin-top: 55px;
  width: 300px;
  height: 200px;
  opacity: 0.5;
}

.left {
  float: left;
  margin-left: 90px;
}

.right {
  float: right;
  margin-right: 90px;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 40%;
  object-fit: cover;
  margin-top: 50px;
}
h1 {
  display: block;
  margin: 50px auto 0px auto;
  text-align: center;

  font-weight: 700;

  font-size: 2.5rem;
  color: whitesmoke;
}

h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 1.5rem;
  color: whitesmoke;
  letter-spacing: 0.3rem;
}
.resume {
  margin-top: 80px;
  color: #000000;
  letter-spacing: 5px;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "Courier Prime", serif;
  font-style: normal;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin: 50px 0px 50px 0px;
  text-align: center;
  font-weight: 500;
}

h4 {
  text-align: center;
  font-weight: 550;
  font-size: 2.1rem;
  margin-top: 0px;
  padding-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 0.3rem;
}
.container-mdl2 {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  grid-auto-rows: 0.5fr 0.5fr;
  justify-content: center;
  margin: 50px;
  gap: 2rem;
}
.container-mdl2 img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}
.container-mdl2 h5 {
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.container-mdl2 p {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

hr {
  height: 0.2rem;
  background-color: #000000;
  margin-top: 50px;
}

.container-bt {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bt-item {
  align-self: center;
  max-width: 600px;
  text-align: center;
  flex-basis: 15em;
}
.bt-item p {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: left;
  margin: 0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffb00c0;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: whitesmoke;
  }
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.5rem; /* Adjust as needed */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

.fade-in-text {
  animation: fadeIn 5s; /*fading in text effect */
}

footer {
  background-color: #000000;
  color: #f4eae0;
  text-align: center;
  padding: 5px;
}

@media (max-width: 991.98px) {
  .second {
    padding-block: 6%;
  }

  .profile-pic {
    height: 150px;
    width: 150px;
  }
  .container-mdl1 {
    gap: 1rem;

    grid-template-columns: 1fr;
    margin: 50px;
  }
  .item1 {
    grid-area: 1/1/2/3;
  }
  .item2 {
    grid-area: 2/1/3/3;
  }
  .item3 {
    grid-area: 3/1/4/3;
  }
  .item4 {
    grid-area: 4/1/5/3;
  }
  .text {
    background-color: #241f1f;
    color: whitesmoke;
    font-size: 15px;

    padding: 8px 16px;
  }

  h1 {
    font-size: 1.5rem;
    color: whitesmoke;
    padding-left: 0.5em;
  }

  .eagle {
    width: 150px;
    height: 150px;
  }

  .left {
    margin-left: 10px;
  }

  .right {
    margin-right: 10px;
  }
  h2 {
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
  }
  .resume {
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  h3 {
    font-size: 2rem;
    margin: 50px;
  }
  hr {
    margin-bottom: 0px;
  }

  h4 {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    margin-bottom: 30px;
  }
  .container-mdl2 {
    grid-template-columns: 0.5fr;
    gap: 1.5rem;
    margin: 30px;
  }
  .container-mdl2 h5 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin: 0;
  }
  .container-mdl2 p {
    font-size: 1rem;
    min-width: 100%;
    letter-spacing: 0rem;
  }
  .container-mdl2 img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .bt-item p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    text-align: justify;
    padding: 5%;
  }
}
